{% extends "base.twig.html" %}
{% block content %}
<form action="update" method="post">
    <table>
        <tr>
            <th>First name</th>
            <th>Last name</th>
        </tr>
        {% for key,item in data %}
        <tr>
            <td><input type="text" name="people[{{key}}][firstname]" value="{{item.firstname|e}}" /></td>
            <td><input type="text" name="people[{{key}}][surname]" value="{{item.surname|e}}" /></td>
            <td><a href="/show/{{key}}">Show</a></td>
        </tr>
        {% endfor %}

    </table>
    <a href="#" id="add_row">Add row</a>
    <input type="submit" value="OK" />
</form>
{% endblock %}