{% extends "base.twig.html" %}
{% block content %}
<form action="http://localhost:8888/update" method="post">
    <table>
        <tr>
            <th>First name</th>
            <th>Last name</th>
        </tr>

        {% for key,item in data %}
        <tr>
            <td><input type="text" name="people[{{key}}][firstname]" value="{{item.firstname|e}}" /></td>
            <td><input type="text" name="people[{{key}}][surname]" value="{{item.surname|e}}" /></td>
            <td><a href="http://localhost:8888/show/{{key}}">Show</a></td>
        </tr>

        {% endfor %}

    </table>

    <input type="button" value="Add row" id="add_row">
    <input type="submit" value="Save" />
    <a href="http://localhost:8888">home</a>

</form>
{% endblock %}